

.skills{
    width: 100%;
    min-height: 100vh;
    /* outline: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    /* justify-content:center; */
    align-items:center;
    gap: 50px;
    margin-top: 20px;

}

.skills-heading{
    width: 100%;
    /* outline: 1px solid rebeccapurple; */
    font-weight: 700;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    /* outline: 2px solid rebeccapurple; */
}

.skills-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.decoration1{
    position: absolute;
    font-size: 300px;
    opacity: 0.2;
    left: -100px;
    top:800px;
    z-index: -1;
}
.decoration2{
    position: absolute;
    font-size: 200px;
    opacity: 0.2;
    right: -40px;
    top:1400px;
    z-index: -1;

}
.decoration3{
    position: absolute;
    font-size: 250px;
    opacity: 0.2;
    left: -30px;
    top:2000px;
    z-index: -1;

}